<div class="dashboard-container">
  <nav class="sidebar">
    <h3>Unifor Acadêmico</h3>
    <ul>
      <li><a routerLink="/students">Alunos</a></li>
      <li><a routerLink="/courses" class="active">Cursos</a></li>
    </ul>
  </nav>

  <main class="content">
    <div class="header-actions">
      <h2>Gerenciamento de Cursos</h2>
      <button class="btn-primary">+ Novo Curso</button>
    </div>

    @if (isLoading()) {
    <div class="loading">Carregando dados dos cursos...</div>
    } @else {
    <div class="table-card">
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Nome do Curso</th>
          <th>Descrição</th>
          <th>Carga Horária</th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        @for (course of courses(); track course.id) {
        <tr>
          <td>{{ course.id }}</td>
          <td class="font-bold">{{ course.name }}</td>
          <td class="text-muted">{{ course.description }}</td>
          <td>{{ course.durationHours }}h</td>
          <td>
            <button class="btn-delete" (click)="deleteCourse(course.id)">Excluir</button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="5" class="text-center">Nenhum curso ativo encontrado no sistema.</td>
        </tr>
        }
        </tbody>
      </table>
    </div>
    }
  </main>
</div>
