<p>login works!</p>
<div class="login-container">
  <div class="login-card">
    <h2>Desafio Unifor - Login</h2>
    <p class="subtitle">Acesse o sistema de gerenciamento acadêmico</p>

    @if (errorMessage) {
    <div class="alert alert-danger">
      {{ errorMessage }}
    </div>
    }

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">E-mail corporativo</label>
        <input
          id="username"
          type="email"
          formControlName="username"
          placeholder="exemplo@unifor.br"
          [class.input-error]="loginForm.get('username')?.touched && loginForm.get('username')?.invalid"
        />

        @if (loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')) {
        <span class="error-msg">O e-mail é obrigatório.</span>
        }
        @if (loginForm.get('username')?.touched && loginForm.get('username')?.hasError('email')) {
        <span class="error-msg">Insira um formato de e-mail válido.</span>
        }
      </div>

      <div class="form-group">
        <label for="password">Senha de acesso</label>
        <input
          id="password"
          type="password"
          formControlName="javaPassword"
          placeholder="••••••••"
          [class.input-error]="loginForm.get('javaPassword')?.touched && loginForm.get('javaPassword')?.invalid"
        />

        @if (loginForm.get('javaPassword')?.touched && loginForm.get('javaPassword')?.hasError('required')) {
        <span class="error-msg">A senha é obrigatória.</span>
        }
        @if (loginForm.get('javaPassword')?.touched && loginForm.get('javaPassword')?.hasError('minlength')) {
        <span class="error-msg">A senha deve ter pelo menos 6 caracteres.</span>
        }
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="btn-submit">
        Entrar no Sistema
      </button>
    </form>
  </div>
</div>
