<div class="page-container">
  <div class="page-header">
    <div class="header-title">
      <h2>Gerenciamento de Alunos</h2>
      <p class="subtitle">Cadastre, remova e gerencie as informações cadastrais dos estudantes.</p>
    </div>
    <button class="btn-primary" (click)="toggleForm()">
      {{ showForm() ? 'Cancelar' : '+ Novo Aluno' }}
    </button>
  </div>

  @if (showForm()) {
  <div class="form-card">
    <h3>{{ editingStudentId() ? 'Editar Informações do Aluno' : 'Cadastrar Novo Aluno' }}</h3>
    <form [formGroup]="studentForm" (ngSubmit)="saveStudent()">
      <div class="form-grid">
        <div class="form-group">
          <label>Nome Completo</label>
          <input type="text" formControlName="name" placeholder="Ex: Felipe Vidal">
        </div>

        <div class="form-group">
          <label>E-mail Acadêmico</label>
          <input type="email" formControlName="email" placeholder="Ex: felipe@unifor.br">
        </div>

        <div class="form-group">
          <label>CPF (Apenas números)</label>
          <input type="text" formControlName="cpf" placeholder="Ex: 00011122233">
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" [disabled]="studentForm.invalid" class="btn-save">
          {{ editingStudentId() ? 'Salvar Alterações' : 'Cadastrar Aluno' }}
        </button>
      </div>
    </form>
  </div>
  }

  @if (isLoading()) {
  <div class="loading-state">
    <p>Carregando dados dos alunos...</p>
  </div>
  } @else {
  <div class="table-card">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>CPF</th>
        <th class="text-center">Ações</th>
      </tr>
      </thead>
      <tbody>
      @for (student of students(); track student.id) {
      <tr>
        <td><span class="badge-id">#{{ student.id }}</span></td>
        <td class="font-bold">{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td class="text-muted">{{ student.cpf }}</td>
        <td class="text-center">
          <button class="btn-info" (click)="editStudent(student)">✏️ Editar</button>
          <button class="btn-delete" (click)="deleteStudent(student.id)">Excluir</button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="5" class="empty-state">
          <p>Nenhum aluno ativo encontrado no sistema.</p>
        </td>
      </tr>
      }
      </tbody>
    </table>
  </div>
  }
</div>
